<div class="m-5 shadow-md rounded ">    
  <form class="flex-auto">    
    <div class="flex flex-wrap p-5 bg-gray-50 mb-2">    
      <img class="w-14 rounded-full mr-5" src="https://i.pravatar.cc/300">    
      <div>    
        <h1 class="flex-auto text-xl font-semibold">    
          John Doe    
        </h1>    
        <div class="w-full flex-none text-sm font-medium text-gray-500 mt-2">    
          Designer, Developer    
        </div>    
      </div>      
    </div>    
    <div>    
      <p class="px-6 pb-2 font-semibold text-center text-xl">"Rapidly build modern websites without ever leaving your HTML."</p>    
      <p class="px-6 pb-2 text-center">A utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build any design, directly in your markup.</p>    
          
      <img class="w-full h-64 object-cover" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"/>    
    </div>    
    <div class="flex">    
      <button class="bg-gradient-to-b from-blue-800 to-green-500 p-2 rounded-full text-white m-5 px-5"> 👍 Like</button>    
      <button class="bg-gradient-to-b from-green-400 to-blue-500 p-2 rounded-full text-white my-5 px-5"> 📤 Share</button>    
    </div>    
  </form>    
</div>    