<div id="accordio-group" class="flex flex-col bg-white m-4 border-none rounded-lg shadow-md overflow-hidden">
    <div id="acccordion-list" class="flex flex-col p-4 border-b">
        <div id="accordion-header" class="flex flex-row items-center justify-between w-full">
            <h1>Tittle</h1>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        <div id="accordion-content">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis, ex consectetur voluptatem optio, doloribus sed dolor quibusdam deleniti quam eligendi aliquam fugiat cumque voluptatibus similique, reprehenderit maiores. Earum, adipisci dolore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi adipisci alias incidunt eius hic quas, veritatis laudantium quam totam suscipit culpa fugit ad iusto aliquam asperiores explicabo eum dolorum nam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. In quidem quae vero? Ex sunt sit commodi quasi velit laboriosam accusantium, illum dolor nulla voluptates dolore odio itaque? Officiis, fuga praesentium.
        </div>
    </div>
    <div id="acccordion-list" class="flex flex-col p-4 border-b">
        <div id="accordion-header" class="flex flex-row items-center justify-between w-full">
            <h1>Tittle</h1>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        <div id="accordion-content">
            
        </div>
    </div>
    <div id="acccordion-list" class="flex flex-col p-4 border-b">
        <div id="accordion-header" class="flex flex-row items-center justify-between w-full">
            <h1>Tittle</h1>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
        </div>
        <div id="accordion-content">

        </div>
    </div>
</div>
    