<div id="accordion-list" class="accordion__list__wrapper border-b">
    <div id="accordion-header" class="accordion__list__header" (click)="toogleShowContent($event)">
        <h1 class="text-md font-semibold text-gray-600 hover:text-black">{{ HeaderText }}</h1>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 hover:text-black text-gray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
    </div>
    <!-- If state of expanded true, it will displayed, if false otherwise ! -->
    <div id="accordion-content" class="p-4" *ngIf="isExpanded">
        <ng-content></ng-content>
    </div>
</div>
